.fxs_star_icon {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #e4871b;
    width: 0px;
    height: 0px;
    border-right:  10px solid transparent;
    border-bottom: 7px  solid #e4871b;
    border-left:   10px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
 }
 .fxs_star_icon:before {
    border-bottom: 8px solid #e4871b;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4px;
    left: -6px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform:    rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    -o-transform:      rotate(-35deg);
 
 }
 .fxs_star_icon:after {
    position: absolute;
    display: block;
    color: #e4871b;
    top: 3px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #e4871b;
    border-left: 10px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform:    rotate(-70deg);
    -ms-transform:     rotate(-70deg);
    -o-transform:      rotate(-70deg);
    content: '';
 }