.fxs_ecocal_period_header{
	background-color: #DDDEDF;
	text-align: center;
	font-weight: 600;
	padding: 5px 0;
}
.fxs_ecocal_event_row {
	cursor: pointer;
	width: 100%;
	clear: both;
	float: left;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f1;
}
.fxs_ecocal_event_row:hover {
	background-color: #f0f0f1;
}
.fxs_ecocal_event_row.fxs_now {
	background-color: #f0f0f1;
	border-bottom: 1px solid #fff;
}
.fxs_ecocal_event_row.fxs_now:hover {
	background-color: #fff;
}
.fxs_ecocal_event_row.fxs_now.fxs_last_now{
	border-bottom: 3px solid #A3A3A8;
}
.fxs_ecocal_event_row_item {
	padding: 5px;
	float: left;
	line-height: 30px;
	height: 40px;
	font-size: 12px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
}
.fxs_ecocal_event_row_item.tradeable {
	width: 22px;
}
.fxs_ecocal_event_row_item.tradeable .fa-star {
	color: #deaf37;
}
.fxs_ecocal_event_row_item.tradeable.triggered .fa-star {
	-webkit-animation: colorchange 1s infinite;
	-moz-animation: colorchange 1s infinite;
	-o-animation: colorchange 1s infinite;
	animation: colorchange 1s infinite;
}

@-webkit-keyframes colorchange {
	0% {
		color: #deaf37;
	}
	100% {
		color: #cf4836;
	}
}
@-moz-keyframes colorchange {
	0% {
		color: #deaf37;
	}
	100% {
		color: #cf4836;
	}
}
@-o-keyframes colorchange {
	0% {
		color: #deaf37;
	}
	100% {
		color: #cf4836;
	}
}
@keyframes colorchange {
	0% {
		color: #deaf37;
	}
	100% {
		color: #cf4836;
	}
}

.fxs_ecocal_event_row_item.time {
	width: 41px;
}

.fxs_ecocal_event_row_item.volatility {
	width: 41px;
}
.fxs_ecocal_event_row_item.volatility img {
	width: 30px;
	height: 30px;
}

.fxs_ecocal_event_row_item.flag {
	width:23px;
}

.fxs_ecocal_event_row_item.currency {
	width:36px;
}

.fxs_ecocal_event_row_item.title {
	max-width: calc(100% - 478px);
}

.fxs_ecocal_event_row_item.actual {
	width:73px;
}

.fxs_ecocal_event_row_item.deviation {
	width:48px;

}

.fxs_ecocal_event_row_item.consensus {
	width:73px;

}

.fxs_ecocal_event_row_item.previous {
	width:76px;

}

.fxs_ecocal_event_row_item.type {
	width:270px;
	text-align: center;

}

.fxs_ecocal_event_row_item.type .fxs_event_type_label{
	background-color: #6289AC;
	color: #fff;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	font-size: 10px;
	padding:5px 10px;
}

.fxs_ecocal_event_row_item.dashboard {
	width:20px;

}

.fxs_ecocal_event_row_item.expandable {
	width:20px;

}
.fxs_ecocal_event_collapsible {
	width: 100%;
	clear: both;
	float: left;
}
