#fxs_star_icon {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right:  10.0px solid transparent;
    border-bottom: 7.0px  solid red;
    border-left:   10.0px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
 }
 #fxs_star_icon:before {
    border-bottom: 8.0px solid red;
    border-left: 3.0px solid transparent;
    border-right: 3.0px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -4.5px;
    left: -6.5px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform:    rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    -o-transform:      rotate(-35deg);
 
 }
 #fxs_star_icon:after {
    position: absolute;
    display: block;
    color: red;
    top: .3px;
    left: -10.5px;
    width: 0px;
    height: 0px;
    border-right: 10.0px solid transparent;
    border-bottom: 7.0px solid red;
    border-left: 10.0px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform:    rotate(-70deg);
    -ms-transform:     rotate(-70deg);
    -o-transform:      rotate(-70deg);
    content: '';
 }